<ion-view view-title="About">
  <ion-content>
    <h3>Overview</h3>
    <div class="row">
      <div class="col col-25"> Category</div>
      <div class="col"> Internet of Things (IoT) - Tessel Device </div>
    </div>
    <div class="row">
      <div class="col col-25"> Description</div>
      <div class="col"> Using this application, we can issue a command to Tessel device to take a photo and upload it to Amazon Web service. From Amazon S3 storage service we can download
      and view the picture any time, any where.</div>
    </div>
    <div class="row">
      <div class="col col-25"> Author</div>
      <div class="col"> Rajesh Ramamoorthy </div>
    </div>
    <div class="row">
      <div class="col col-25"> version</div>
      <div class="col"> 1.0 </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/security.jpg" width="100%">
      </div>
    </div>
  </ion-content>
</ion-view>
