<ion-view view-title="Device">
  <ion-content>
    <h1>Monitor Home</h1>

    <div class="row">
      <div class="col col-66">Do you want to monitor home now?</div>
      <div class="col">
        <button class="button button-balanced" ng-click="takePhoto()">
          Take Photo
        </button>
      </div>
    </div>

    <div class="row" ng-hide="actionItem">
      <div class="col item item-image" >
        <ion-slide-box>
          <ion-slide>
            <img ng-src="data:image/JPEG;base64,{{photo.image}}"/>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <div class="row" ng-show="actionItem">
      <div class="col col-33">Photo(Without file Ext)</div>
      <div class="col col-33 item item-input-inset">
        <label class="item-input-wrapper">
        <input type="text" ng-model="photoName" placeholder="Name of the Photo"/>
        </label>
      </div>
      <div class="col">
        <button class="button button-balanced" ng-click="setPhoto(photoName)">
          Download
        </button>
      </div>
    </div>

    <div class="row" ng-show="actionItem">
      <div class="col">{{actionItem}}</div>
    </div>

  </ion-content>
</ion-view>
