<ion-view view-title="Photo Gallery">
  <ion-content>
    <h3> Recently taken Photos Gallery</h3>
    <div class="row">
      <div class="col">
        <button class="button button-balanced" ng-click="loadGallery()">
         Reload
        </button>
      </div>
    </div>
    <div class="list card">
      <div class="item item-image">
        <ion-slide-box>
          <ion-slide ng-repeat="photo in photos">
            <img ng-src="data:image/JPEG;base64,{{photo.image}}"/>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    </ion-content>
  </ion-view>
